.navbar{
  width: 100vw;
  display: flex;
  position: fixed;
  z-index: 99;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  color: #fffffe;
  padding: 15px;
  background-color: #94a1b2;
  background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%23010101' fill-opacity='0.04' fill-rule='evenodd'/%3E%3C/svg%3E");
  border-bottom: 2px solid #fffffe;
  padding-right: 30px;
}

.hamburger{
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.logo {
  background-color: #7f5af0;
  border: 2px solid #010101;
  padding: 4px;
  font-weight: 700;
  text-shadow: 2px -2px #2cb67d, 3px -3px black;
  box-shadow: 2px -2px 0 #2cb67d, 2px -2px 0px 2px black;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  margin-block-start: 10px;
  border-radius: 4px;
  transition: transform .5s, opacity .25s;
}

.hamburger.active .line:nth-child(1) {
  transform: translateY(8.5px)
  rotate(45deg);
}

.hamburger.active .line:nth-child(2){
opacity: 0;
}

.hamburger.active .line:nth-child(3){
  transform: translateY(-8.5px)
  rotate(-45deg);
}

.navbar a{
  text-decoration: none;
  color: inherit;
  }

.logo {
  margin-right: 50px;
}
  #toggler,
  .navbar label{
    display: none;
  }

  .list{
    list-style: none;
    display: flex;
    gap: 25px;
    color: #fffffe;
    font-weight: 800;
  }

  .list li {
    text-shadow: #754cf0 2px 0, #754cf0 0 2px;
    transition: text-shadow 0.5s;
  }

  .list li:hover {
    text-shadow: #ffffff 2px 0, #ffffff 0 2px;
  }

  .hamburger {
    display: none;
  }

  .headerBotton {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100%;
    justify-content: center;
    background-color: #0e0e13;
    color: #fffffe;
    background-image: url('../imgs/blob.svg');
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: 80%;
    border-bottom: 2px solid #2cb67d;
    outline: 2px solid #7f5af0;
  }

  .secNav li {
    color: #fffffe;
    background-color: #7f5af0;
    size: 60px;
  }

  .divButtons button {
    padding: 4px;
    background-color: #7f5af0;
    border-radius: 7px;
    color: #fffffe;
    font-weight: 700;
    border: 2px #010101 solid;
    box-shadow: 1px 1px 0 #2cb67d, 1px 1px 0px 1px black, -1px 1px 0 #ffffff, -1px 1px 0px 1px black;
    cursor: pointer;
    transition: background-color .5s;
  }

  .divButtons button:focus {
    padding: 4px;
    background-color: #7f5af0;
    border-radius: 7px;
    color: #fffffe;
    font-weight: 700;
    border: 2px #010101 solid;
    box-shadow: 1px 1px 0 #2cb67d, 1px 1px 0px 1px black, -1px 1px 0 #ffffff, -1px 1px 0px 1px black;
    cursor: pointer;
  }

  .divButtons button:hover {
    padding: 4px;
    background-color: #9e85ea;
    border-radius: 7px;
    color: #fffffe;
    font-weight: 700;
    border: 2px #010101 solid;
    box-shadow: 1px 1px 0 #2cb67d, 1px 1px 0px 1px black, -1px 1px 0 #ffffff, -1px 1px 0px 1px black;
  }

  .divButtons button:active {
    padding: 4px;
    background-color: #754cf0;
    border-radius: 7px;
    color: #fffffe;
    font-weight: 700;
    border: 2px #010101 solid;
    box-shadow: 1px 1px 0 #fffffe, 1px 1px 0px 1px black, -1px 1px 0 #2cb67d, -1px 1px 0px 1px black;
  }

  .secNav ul{
    display: flex;
    margin-left: 15px;
    justify-content: space-between;
    align-items: center;
    width: 190px;
    margin-right: -150px;
    list-style: none;
  }

  .secNav li {
    color: #fffffe;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7f5af0;
    border-radius: 10px;
    box-shadow: 2px 2px 0 #fffffe;
    width: 55px;
    height: 55px;
  }

  .leftHeader {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    height: 50%;
    margin-right: -400px;
    z-index: 1;
  }

  .leftHeader h1 {
    font-size: 9em;
    width: 60%;
  }

  .leftHeader h3 {
    margin-bottom: -45px;
    font-size: 2em;
  }


  .imgHeaderCont {
    width: 800px;
    flex-shrink: 0;
    overflow: hidden;
    align-self: flex-end;
  }

  .imgHeaderCont img {
    overflow: hidden;
    z-index: -3;
    filter: drop-shadow(-3px -3px #fffffe) drop-shadow(3px -3px #7f5af0); 
  }

  .divButtons {
    position: absolute;
    width: 120px;
    display: flex;
    justify-content: space-between;
    left: 47%;
    margin-top: -5px;
  }

  .animate-charcter
{
  background-image: linear-gradient(
    90deg,
    #7f5af0 0%,
    #2cb67d 50%,
    #7f5af0 100%
  );
  background-size: auto auto;
  background-size: 1000% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 20s linear infinite;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

@media screen and  (max-width: 1700px) and (min-width: 600px) {
  .navbar{
    width: 100vw;
    display: flex;
    position: fixed;
    z-index: 99;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    color: #fffffe;
    padding: 15px;
    background-color: #94a1b2;
    background-image: url("data:image/svg+xml,%3Csvg width='60' height='60' viewBox='0 0 60 60' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M54.627 0l.83.828-1.415 1.415L51.8 0h2.827zM5.373 0l-.83.828L5.96 2.243 8.2 0H5.374zM48.97 0l3.657 3.657-1.414 1.414L46.143 0h2.828zM11.03 0L7.372 3.657 8.787 5.07 13.857 0H11.03zm32.284 0L49.8 6.485 48.384 7.9l-7.9-7.9h2.83zM16.686 0L10.2 6.485 11.616 7.9l7.9-7.9h-2.83zm20.97 0l9.315 9.314-1.414 1.414L34.828 0h2.83zM22.344 0L13.03 9.314l1.414 1.414L25.172 0h-2.83zM32 0l12.142 12.142-1.414 1.414L30 .828 17.272 13.556l-1.414-1.414L28 0h4zM.284 0l28 28-1.414 1.414L0 2.544V0h.284zM0 5.373l25.456 25.455-1.414 1.415L0 8.2V5.374zm0 5.656l22.627 22.627-1.414 1.414L0 13.86v-2.83zm0 5.656l19.8 19.8-1.415 1.413L0 19.514v-2.83zm0 5.657l16.97 16.97-1.414 1.415L0 25.172v-2.83zM0 28l14.142 14.142-1.414 1.414L0 30.828V28zm0 5.657L11.314 44.97 9.9 46.386l-9.9-9.9v-2.828zm0 5.657L8.485 47.8 7.07 49.212 0 42.143v-2.83zm0 5.657l5.657 5.657-1.414 1.415L0 47.8v-2.83zm0 5.657l2.828 2.83-1.414 1.413L0 53.456v-2.83zM54.627 60L30 35.373 5.373 60H8.2L30 38.2 51.8 60h2.827zm-5.656 0L30 41.03 11.03 60h2.828L30 43.858 46.142 60h2.83zm-5.656 0L30 46.686 16.686 60h2.83L30 49.515 40.485 60h2.83zm-5.657 0L30 52.343 22.343 60h2.83L30 55.172 34.828 60h2.83zM32 60l-2-2-2 2h4zM59.716 0l-28 28 1.414 1.414L60 2.544V0h-.284zM60 5.373L34.544 30.828l1.414 1.415L60 8.2V5.374zm0 5.656L37.373 33.656l1.414 1.414L60 13.86v-2.83zm0 5.656l-19.8 19.8 1.415 1.413L60 19.514v-2.83zm0 5.657l-16.97 16.97 1.414 1.415L60 25.172v-2.83zM60 28L45.858 42.142l1.414 1.414L60 30.828V28zm0 5.657L48.686 44.97l1.415 1.415 9.9-9.9v-2.828zm0 5.657L51.515 47.8l1.414 1.413 7.07-7.07v-2.83zm0 5.657l-5.657 5.657 1.414 1.415L60 47.8v-2.83zm0 5.657l-2.828 2.83 1.414 1.413L60 53.456v-2.83zM39.9 16.385l1.414-1.414L30 3.658 18.686 14.97l1.415 1.415 9.9-9.9 9.9 9.9zm-2.83 2.828l1.415-1.414L30 9.313 21.515 17.8l1.414 1.413 7.07-7.07 7.07 7.07zm-2.827 2.83l1.414-1.416L30 14.97l-5.657 5.657 1.414 1.415L30 17.8l4.243 4.242zm-2.83 2.827l1.415-1.414L30 20.626l-2.828 2.83 1.414 1.414L30 23.456l1.414 1.414zM56.87 59.414L58.284 58 30 29.716 1.716 58l1.414 1.414L30 32.544l26.87 26.87z' fill='%23010101' fill-opacity='0.04' fill-rule='evenodd'/%3E%3C/svg%3E");
    border-bottom: 2px solid #fffffe;
    padding-right: 30px;
  }
  
  .hamburger{
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .logo {
    background-color: #7f5af0;
    border: 2px solid #010101;
    padding: 4px;
    font-weight: 700;
    text-shadow: 2px -2px #2cb67d, 3px -3px black;
    box-shadow: 2px -2px 0 #2cb67d, 2px -2px 0px 2px black;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin-block-start: 10px;
    border-radius: 4px;
    transition: transform .5s, opacity .25s;
  }
  
  .hamburger.active .line:nth-child(1) {
    transform: translateY(8.5px)
    rotate(45deg);
  }
  
  .hamburger.active .line:nth-child(2){
  opacity: 0;
  }
  
  .hamburger.active .line:nth-child(3){
    transform: translateY(-8.5px)
    rotate(-45deg);
  }
  
  .navbar a{
    text-decoration: none;
    color: inherit;
    }
  
  .logo {
    margin-right: 50px;
  }
    #toggler,
    .navbar label{
      display: none;
    }
  
    .list{
      list-style: none;
      display: flex;
      gap: 25px;
      color: #fffffe;
      font-weight: 800;
    }
  
    .list li {
      text-shadow: #754cf0 2px 0, #754cf0 0 2px;
      transition: text-shadow 0.5s;
    }
  
    .list li:hover {
      text-shadow: #ffffff 2px 0, #ffffff 0 2px;
    }
  
    .hamburger {
      display: none;
    }
  
    .headerBotton {
      display: flex;
      align-items: center;
      height: 100vh;
      width: 100%;
      justify-content: center;
      background-color: #0e0e13;
      color: #fffffe;
      background-image: url('../imgs/blob.svg');
      background-repeat: no-repeat;
      background-repeat: no-repeat;
      background-size: 55%;
      background-position: 80%;
      border-bottom: 2px solid #2cb67d;
      outline: 2px solid #7f5af0;
    }
  
    .secNav li {
      color: #fffffe;
      background-color: #7f5af0;
      size: 60px;
    }
  
    .divButtons button {
      padding: 4px;
      background-color: #7f5af0;
      border-radius: 7px;
      color: #fffffe;
      font-weight: 700;
      border: 2px #010101 solid;
      box-shadow: 1px 1px 0 #2cb67d, 1px 1px 0px 1px black, -1px 1px 0 #ffffff, -1px 1px 0px 1px black;
      cursor: pointer;
      transition: background-color .5s;
    }
  
    .divButtons button:focus {
      padding: 4px;
      background-color: #7f5af0;
      border-radius: 7px;
      color: #fffffe;
      font-weight: 700;
      border: 2px #010101 solid;
      box-shadow: 1px 1px 0 #2cb67d, 1px 1px 0px 1px black, -1px 1px 0 #ffffff, -1px 1px 0px 1px black;
      cursor: pointer;
    }
  
    .divButtons button:hover {
      padding: 4px;
      background-color: #9e85ea;
      border-radius: 7px;
      color: #fffffe;
      font-weight: 700;
      border: 2px #010101 solid;
      box-shadow: 1px 1px 0 #2cb67d, 1px 1px 0px 1px black, -1px 1px 0 #ffffff, -1px 1px 0px 1px black;
    }
  
    .divButtons button:active {
      padding: 4px;
      background-color: #754cf0;
      border-radius: 7px;
      color: #fffffe;
      font-weight: 700;
      border: 2px #010101 solid;
      box-shadow: 1px 1px 0 #fffffe, 1px 1px 0px 1px black, -1px 1px 0 #2cb67d, -1px 1px 0px 1px black;
    }
  
    .secNav ul{
      display: flex;
      margin-left: 15px;
      justify-content: space-between;
      align-items: center;
      width: 190px;
      margin-right: -30px;
      list-style: none;
      margin-top: 2vh;
    }
  
    .secNav li {
      color: #fffffe;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #7f5af0;
      border-radius: 10px;
      box-shadow: 2px 2px 0 #fffffe;
      width: 55px;
      height: 55px;
    }
  
    .leftHeader {
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      height: 50%;
      margin-left: 5vw;
      margin-right: -40vw;
      z-index: 1;
    }
  
    .leftHeader h1 {
      font-size: 9em;
      width: 60%;
    }
  
    .leftHeader h3 {
      margin-bottom: -2vh;
      font-size: 2em;
    }
  
  
    .imgHeaderCont {
      width: 70vw;
      flex-shrink: 0;
      overflow: hidden;
      align-self: flex-end;
      height: 90vh;
      margin-right: -5vw;
      margin-left: 5vw;
    }
  
    .imgHeaderCont img {
      overflow: hidden;
      width: 80%;
      z-index: -3;
      filter: drop-shadow(-3px -3px #fffffe) drop-shadow(3px -3px #7f5af0); 
      margin:0;
    }
  
    .divButtons {
      position: absolute;
      width: 120px;
      display: flex;
      justify-content: space-between;
      left: 47%;
      margin-top: -5px;
    }
  
    .animate-charcter
  {
    background-image: linear-gradient(
      90deg,
      #7f5af0 0%,
      #2cb67d 50%,
      #7f5af0 100%
    );
    background-size: auto auto;
    background-size: 1000% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 20s linear infinite;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
}

@media screen and
  (max-width: 600px){

    .headerTop {
      max-width: 100vw;
    }

  .navbar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 50px;
    transition: height .5s;
  }

  .logo {
    margin-top: -4px;
  }


  .divButtons {
    position: absolute;
    width: 35vw;
    display: flex;
    justify-content: space-between;
    left: 30vw;
    margin-top: -5px;
  }


  .hamburger {
    display:block;
    width: 40px;
    height: 40px;
    margin-top: -12px;
  }
  
  .hamburger .line {
    display: block;
    width: 30px;
    height: 3px;
    background-color: rgb(255, 255, 255);
    margin-block-start: 5px;
    border-radius: 4px;
    transition: transform .5s, opacity .25s;
  }

  .menu {
    transform: translateY(-200px);
    margin: 0;
    opacity: 0;
    transition: transform .5s, opacity 0.25s;
  }

  .menu.active {
    width: 50%;
    max-height: 0;
    transform: translateY(40px);
    opacity: 1;
    transition: transform .5s, opacity 2s;
  }

  .leftHeader {
    padding: 5px;
    display: flex;
    flex-direction: column;
    margin-right: -80px;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 15px;
    height: 40%;
    z-index: 1;
    margin-top: 150px;
  }

  .leftHeader h1 {
    font-size: 3.0em;
    width: 65vw;
  }

  .animate-charcter
  {
    background-image: linear-gradient(
      90deg,
      #7f5af0 0%,
      #ffffff 50%,
      #7f5af0 100%
    );
    background-size: auto auto;
    background-size: 1000% auto;
    color: #fff;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 40s linear infinite;
  }
  
  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  .leftHeader h3 {
    margin-bottom: -5vh;
  }

  .secNav ul{
    display: flex;
    margin-left: 5vw;
    justify-content: space-between;
    align-items: center;
    width: 40vw;
    margin-right: -100vw;
    list-style: none;
  }

  .secNav li {
    color: #fffffe;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #7f5af0;
    border-radius: 10px;
    box-shadow: 2px 2px 0 #fffffe;
    width: 45px;
    height: 45px;
  }

  .navbar.active {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    height: 220px;
    transition: height .5s,
  }

  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }

  .imgHeaderCont {
    width: 100%;
    height: 90vh;
    flex-shrink: 0;
    margin-left: -50vw;
    overflow: hidden;
    align-self: flex-end;
  }

  .headerBotton {
    background-image: url('../imgs/blob.svg');
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: 100%;
  }

  .imgHeaderCont img {
    max-width: 200%;
    width: 150vw;
    overflow: hidden;
    margin-left: -15vw;
    z-index: -3;
    filter: drop-shadow(-3px -3px #fffffe);
  }

}